* {
    font-family: 'inter', sans-serif;
}

body {
    background: linear-gradient(50deg, rgba(0,0,0,1) 0%, rgba(108,4,61,1) 61%, rgba(210,12,12,1) 100%);
}



section div {
	width: 100%;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}

.primeira-div{
    background-image: linear-gradient(90deg, #ffffff 0%, #09130f 50.52%, #d80000 100%);
}

header  {
    border: 1px solid #ffffff;
    border-radius: 5px;
   
}



@media (max-width: 500px) {
    
    section {
        flex-direction: column;
        align-items: center;
        
    }
    
    section div {
        min-width: 200px;
    }
}