* {
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

#wrapper {
    background: linear-gradient(116.16deg, #000000 16.2%, #4E575D 100.85%);
}

header h2 {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
}

.background-div {
    border-radius: 8px;
    background: linear-gradient(320deg, #111213 0%, #161616 50%, #ED145B 100%);
}

.content-wrapper{
    border-radius: 10px;
    background: black;
    box-shadow: inset 0 0 5px white;
    margin: auto;
}

header {
    margin-top: 130px;
}

section div  {
    width: 100%;
    background: black
}

section div:hover {
    background: linear-gradient(320deg, #111213 0%, #000000 50%, #ED145B 100%);
    box-shadow: 0 0 10px #ed145b
}

section p {
    font-weight: 500;
    letter-spacing: 0.7px;
}


footer {
    text-align: right;
}


/* Media Query */
@media (max-width: 500px) {
    
    section {
        flex-direction: column;
        align-items: center;
        
    }
    
    section div {
        min-width: 200px;
    }

}