* {
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

header h2 {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
}

.primeira-div {
    border-radius: 8px;
}

.content-wrapper{
    border-radius: 10px;
    background: black;
}

header {
    margin-top: 150PX;
}

section div  {
    width: 100%;
    background: black
}

section div:hover {
    background: linear-gradient(320deg, #111213 0%, #000000 50%, #ED145B 100%);
    box-shadow: 0 0 10px #ed145b
}

section p {
    font-weight: 500;
    letter-spacing: 0.7px;
}

.primeira-div{
    background: linear-gradient(320deg, #111213 0%, #161616 50%, #ED145B 100%);
}

footer {
    text-align: right;
}


/* Media Query */
@media (max-width: 500px) {
    
    section {
        flex-direction: column;
        align-items: center;
        
    }
    
    section div {
        min-width: 200px;
    }

}